html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start */
h1{
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.storeDetail{
    margin-left: 30em;
    width: 40em;
}
.orderMenu{
    background-color: gray;
    font-size: 1.5em;
    padding: 0.3em;
    width:26.5em;
}
.orderMenu:hover{
    color:orange;
    cursor:pointer;
}
span{
    width: 9em;
}
.menu{
    border:0.3em solid black;
    display:none;
    width:40em;
}
p{
    display:flex;
    margin-top: 1em;
}
table{
    margin-top: 0.2em;
   
}
tr{
    display: block;
    margin-bottom: 0.7em;
    margin-top: 0.5em;
}
th{
    display: inline-block;
    margin-left: 1em;
    width: 10em;
}
td{
    display: inline-block;
    margin-left: 1em;
    width: 10em;
    text-align: center;
}
form{
    margin-top: 0.5em;
    margin-left: 18em;
    margin-bottom: 0.5em;
}