body{
    margin-left: 20%;
}
div.container{
    border: 1px black solid;
    margin-left: 0;
}
div#store-name{
    border: 1px black solid;
    height: 100%;
    text-align: center;
    /* display:flex;
    align-items: center; */
    /* float: left; */
}
div.row.reserve{
    height: 60px;
}
div.btn{
	width:50px;
	height:100px;
}
div.row.request{
    height: 120px;
}
div#page-title{
    border: 1px black solid;
    height: 100%;
    /* display:flex; */
    /* align-items: center; */
    /* float: right; */
    text-align: center;
}
/* div#main{ */
/*     height: 500px; */
/* } */
div.row{
    border: 1px red solid;
}
div.row.main{
    height: 500px;
}
div.col{
    color: red;
}