html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

/* start */
.card{
    display:flex;
    width:80%;
    padding:1em;
    background-color:#f6f6f6;
    margin-left: 10vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    box-shadow: 10px 10px 15px gray;
    border:1px solid gray;
    position: relative;
    height: 13em;
}
.detail h1{
    font-weight:bold;
    font-size: 2vw;
    margin-left: 15vw;
}
.detail h2{
    color:gray;
    margin-top: 1em;
    margin-left: 15vw;
}
.detail{
    margin-left: -2em;
}
.detail-word{
    margin-left: 15vw;
    margin-top: 3vh;
    text-align:justify;
}
.card >img{
    display: block;
    width: 13em;
    height: 13em;
    border-radius:0.5vw;
    box-shadow: 5px 10px 5px gray;
    position:absolute;
}
.price{
    margin-top: 3vh;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top:8em;
    left:87em;
}
.price img{
    width: 4vw;
    height: 4vh;
}
.price span{
    font-size: 2vw;
}
.bth{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top:11.5em;
    left:54.8em;
}
.bth input{
    margin-top: 3vh;
    margin-left: 1vw;
}
.table2{
	margin-left:30em;
}

